__pycache__/
.git/
.github/
_book
_novel
.discord_bot_output/
.DS_Store
.env
.flake8
.idea/
.pyi/
.telegram_bot_output/
.venv*/
.vscode
*.egg-info
*.log
*.md
*.pyc
*.pyo
*.rst
/.tox
/lightnovel-crawler-*
/logs
/sqlite.db
/test.py
/venv*/
build
bundle
client_secrets.json
dist
Dockerfile*
env
geckodriver.log
LICENSE
Lightnovels/
Makefile
mycreds.txt
node_modules
package.json
save_pid.txt
scripts/
Test Novel
windows/
yarn.lock
config.cfg
lncrawl-web/
